#TotalExpense{
  background-color: #e0781da8;
  border-radius: 0.5rem;
  /* margin: 0; */
  /* padding: 0 1rem 1.5rem; */
  font-weight: bold;
  font-size: 20px;
}

.AddExpenseIcon{
  position: absolute;
  top: 3.25rem;
  right: 0;
  bottom: 0;
  font-weight: bold;
  font-size: large;
}