* {
  margin: 0;
  padding: 0;
}

#mainView {
  /* display: grid;
  grid-template-columns: 1fr 1fr 10rem;
  gap: 5rem; */
  margin: 2rem 5rem;
  padding: 3rem 5rem; 
}

.TotalExpenseText, .TotalIncomeText{
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}

Input{
  border: 1px solid black;
}

.IncomeListTitle{
  margin: 0.1rem 4.1rem 0 0;
}

.ExpenseListTitle{
  margin: 0.1rem 2.1rem 0 0;
}

.TableRow {
  text-align: center;
}

.IncomeView{
  margin: 0 0 2rem 0;
}

.AddExpenseButtonView, .AddIncomeButtonView{
  display: flex;
  align-items: end;
  margin: 0 0 1rem 0;
}

.TableRow{
  border: 1px solid black;
}

.TableAmountRow{
  border: 0px solid transparent;
  font-weight: bold;
}

.DeleteIcon:hover{
  cursor: pointer;
}